@charset "UTF-8";

.header {
	background-image: url("/upload/images/layout/배경화면.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.header_title {
	font-size: 5rem;
	font-weight: bold;
	vertical-align: middle;
}

onclick {
	cursor: pointer;
}

onclick:hover {
	text-decoration: underline;
}

.game_wrap{
	text-align: right;
}

.game{
	align-self: center;
}

.game > a{
	color: #0057a7 !important;
}